In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [56]:
import pandas as pd
df = pd.read_csv("casestudy.csv")

In [16]:
df.shape

(685927, 4)

In [35]:
df[df['year']==2015].customer_email

0          nhknapwsbx@gmail.com
1          joiuzbvcpn@gmail.com
2          ukkjctepxt@gmail.com
3          gykatilzrt@gmail.com
4          mmsgsrtxah@gmail.com
                  ...
231289     xtrpmgjbwp@gmail.com
231290     peeorxpsbr@gmail.com
231291     vanasezjpw@gmail.com
231292     dnpremlztb@gmail.com
231293     qsgswrpycl@gmail.com
Name: customer_email, Length: 231294, dtype: object

In [36]:
data2016 = df[df['year'] == 2016]

In [37]:
len(df[df['year']==2015]), len(df[df['year']==2016]), len(df[df['year']==2017])

(231294, 204646, 249987)

In [38]:
#new customer
data2016[~data2016.customer_email.isin(df[df['year']==2015].customer_email)].net_revenue.sum()

18245491.01

In [39]:
#current year revenue
df.groupby('year').net_revenue.sum()

year
2015    29036749.19
2016    25730943.59
2017    31417495.03
Name: net_revenue, dtype: float64

In [40]:
df2015 = df[df.year == 2015]
df2016 = df[df.year == 2016]
df2017 = df[df.year == 2017]

In [41]:
#new customer revenue
df2016[df2016.customer_email.isin(df2015.customer_email)].net_revenue.sum() - df2015[df2015.customer_email.isin(df2016.customer_email)].net_revenue.sum()

20335.459999999963

In [55]:
#new customer revenue
df2017[df2017.customer_email.isin(df2016.customer_email)].net_revenue.sum() - df2016[df2016.customer_email.isin(df2017.customer_email)].net_revenue.sum()

20611.340000000317

In [42]:
#prior year customer revenue 
df2016[df2016.customer_email.isin(df2015.customer_email)].net_revenue.sum()

7485452.58

In [43]:
#prior year customer revenue 
df2015[df2015.customer_email.isin(df2016.customer_email)].net_revenue.sum()

7465117.12

In [44]:
#attrition
df2015[~df2015.customer_email.isin(df2016.customer_email)].net_revenue.sum()

21571632.070000004

In [45]:
df2016[~df2016.customer_email.isin(df2017.customer_email)].net_revenue.sum()

23110294.939999998

In [46]:
#new customer revenue
df2017[df2017.customer_email.isin(df2016.customer_email)].net_revenue.sum() - df2016[df2016.customer_email.isin(df2017.customer_email)].net_revenue.sum()

20611.340000000317

In [47]:
#current year customer revenue 
df2017[df2017.customer_email.isin(df2016.customer_email)].net_revenue.sum()

2641259.99

In [48]:
#current year customer revenue 
df2016[df2016.customer_email.isin(df2017.customer_email)].net_revenue.sum()

2620648.65

# Total revenue

In [49]:
#customer current year
len(df2015), len(df2016), len(df2017)

(231294, 204646, 249987)

In [50]:
#new customer
df2016[~df2016.customer_email.isin(df2015.customer_email)]

        Unnamed: 0         customer_email  net_revenue  year
231294      231294   mwrossuukz@gmail.com       197.26  2016
231295      231295   gkwsoupawk@gmail.com        38.28  2016
231296      231296   vlyigtgfzs@gmail.com       154.57  2016
231297      231297   yfirychuhk@gmail.com       102.47  2016
231298      231298   trnzgqinuu@gmail.com        32.03  2016
...            ...                    ...          ...   ...
435933      435933   sqodpufunf@gmail.com        29.62  2016
435934      435934   dcakqgznnm@gmail.com       146.47  2016
435936      435936   rdotspqdxi@gmail.com       169.79  2016
435937      435937   fkweqlmmjw@gmail.com        79.71  2016
435938      435938   pidugzoeej@gmail.com       116.80  2016

[145062 rows x 4 columns]

In [51]:
df2017[~df2017.customer_email.isin(df2016.customer_email)]

        Unnamed: 0         customer_email  net_revenue  year
435940      435940   mwrossuukz@gmail.com        96.61  2017
435941      435941  qvjfterwnk@gmail.com        176.00  2017
435942      435942   vlyigtgfzs@gmail.com        73.47  2017
435943      435943   yfirychuhk@gmail.com       138.17  2017
435944      435944   fdkiioqtli@gmail.com       156.87  2017
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[229028 rows x 4 columns]

In [52]:
#lost customers
df2015[~df2015.customer_email.isin(df2016.customer_email)]

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
231289      231289   xtrpmgjbwp@gmail.com       216.89  2015
231290      231290   peeorxpsbr@gmail.com        39.16  2015
231291      231291   vanasezjpw@gmail.com       233.46  2015
231292      231292   dnpremlztb@gmail.com       136.27  2015
231293      231293   qsgswrpycl@gmail.com        60.24  2015

[171710 rows x 4 columns]

In [54]:
df2016[~df2016.customer_email.isin(df2017.customer_email)]

        Unnamed: 0         customer_email  net_revenue  year
231294      231294   mwrossuukz@gmail.com       197.26  2016
231295      231295   gkwsoupawk@gmail.com        38.28  2016
231296      231296   vlyigtgfzs@gmail.com       154.57  2016
231297      231297   yfirychuhk@gmail.com       102.47  2016
231298      231298   trnzgqinuu@gmail.com        32.03  2016
...            ...                    ...          ...   ...
435933      435933   sqodpufunf@gmail.com        29.62  2016
435935      435935   mezrjfkced@gmail.com       114.17  2016
435936      435936   rdotspqdxi@gmail.com       169.79  2016
435938      435938   pidugzoeej@gmail.com       116.80  2016
435939      435939   kxqglfdktu@gmail.com        37.31  2016

[183687 rows x 4 columns]